


.singup-contents {
  margin: auto;
  text-align: center;

  h2 {
    margin: 40px;
    font-size: 20px;

  }

  .signin-form {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
  }
   .register-btn {
    width: 180px;
    height: 35px;
    color: white;
    margin-top: 20px;
    background-color: rgb(34, 238, 143);
    border: darkcyan;
    border-radius: 5px;
   }

 
}